body, h1, h2, h3, h4, h5, h6, p, ul, li, pre, code {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height: 20px;
  background-color: #f0f0f0;
  & > header, > article, > footer {
    width: 700px;
    margin: 0 auto;
  }
  & > header {
    h1 {
      padding: 10px 30px;
    }
    a:link, a:visited, a:hover, a:active {
      background-color: transparent;
      color: black;
      text-decoration: none;
    }
  }
  & > article {
    background-color: white;
    margin: 0 auto;
    padding: 10px 0;
  }
  & > footer {
    p {
      font-size: 12px;
      line-height: 20px;
      padding: 0;
      margin: 20px 30px;
      a:link, a:visited, a:hover, a:active {
        background-color: transparent;
        color: grey;
      }
    }
  }
}
h1 {
  font-size: 24px;
  line-height: 40px;
  padding: 20px 30px 0;
  color: #B62123;
}
h2, article > h1 {
  font-size: 20px;
  line-height: 20px;
  padding: 20px 30px 0;
  color: #B62123;
}
h3, article > h2 {
  font-size: 18px;
  line-height: 20px;
  padding: 20px 30px 0;
  color: #B62123;
}
p, ol, ul, dl {
  padding: 10px 30px;
}
em {
  color: #101010;
}
ol > li {
  list-style-type: decimal;
  list-style-position: outside;
  padding: 0 10px;
  margin: 0 30px;
}
ul > li {
  list-style-type: square;
  list-style-position: inside;
  padding: 0 10px;
  p {
    padding: 0;
  }
}
pre {
  color: white;
  background-color: black;
  margin: 10px 0;
  padding: 20px 30px;
}
a:link, a:visited {
  color: #B62123;
}
a:hover, a:active {
  text-decoration: none;
  background-color: #B62123;
  color: white;
}