<h2>
  Adaptaci&oacute;n al espa&ntilde;ol del libro
  <%= link_to 'Learn to Program', 'http://pine.fm/LearnToProgram/' %>
</h2>
<p class="alert">
  El proyecto aún no está terminado, podrías encontrar errores. Para reportarlos
  por favor ingresa a
  <%= link_to 'este enlace', 'https://github.com/rubyperu/aprendeaprogramar.pe/issues' %>.
</p>
<ol>
<% @chapters.each do |chapter| %>
  <li><%= chapter.to_link %></li>
<% end %>
</ol>